body {
  font-family: Brush Script M7, cursive;
  text-align: center;
  background-color: #FAF8EA;
  margin-top: 50px;
}

h1 {
  color: #D4A6D1;
}

.inputs, .buttons {
  margin: 20px 0;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  background-color: #D4A6D1;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background-color: #D4A6D1;
}

.output h2 {
  color: #D4A6D1;
}

small {
  font-family: Arial, sans-serif;
}
